.l-claims {

  &--h1--title {
    font-size: 2.5em;
    color: $blue;
    padding-left: 20px;
  }

  &--h1 {
    font-size: 1.6em;
    color: $blue;
  }
  &--pod {
    min-height: 130px;
    margin-top: 20px;
    background-color: #ffffff;
    border-top-left-radius:0.63em;
    border-top-right-radius:0.63em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.05);
    padding: 20px 40px 30px 40px;
    position: relative;
  }
  &--pod--dashedLine {
    position: absolute;
    left:0px;
    top:45%;
    height: 10px;
    width: 92%;
    border-bottom: dashed #fff 2px;
    margin: 0px 30px 0px 30px;
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
  }
  &--pod--bottom {
    background-color: #ffffff;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.05);
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 40px 30px 40px;
    overflow: hidden;
  }
  &--pod--sm {
    min-height: 210px;
    background: #fff;
    margin-top: 20px;
    border-radius: 0.63em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #ccc;
    text-align: center;
    padding: 0px 15px 15px 15px;
  }

  &--pod-sNav .col-sm-5ths {
    width: 20%;
    float: left;
    color: #fff;
  }

  &--pod-sNav {
    margin: 0px;
    text-align: center;
  }
  &--pod-sNav li {
    margin: 0px;
    list-style: none;
    height: 100px;
  }
  &--pod-sNav a {
    color: #fff;
    text-align: center;
    height: 100px;
    display: block;
    padding: 0px  0px  8px  0px;
  }

  &--breads {
    font-size: 1.25em;
    margin-top: 30px;
    display: block;
  }
  &--accidentIcons {
    background: #ebebeb;
    padding: 30px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  // &--pod-sNav .col-sm-5ths a {
  //   color: #fff;
  //   text-align: center;
  //   min-height: 100px;
  //   display: block;
  //   padding: 85px  0px  8px  0px;
  // }
  &--pod-sNav a.accidentDetails {
    background: url('../../images/btn1_track_accident_details.png') no-repeat center top
  }
  &--pod-sNav a.damageAssessment {
    background: url('../../images/btn2_track_damage_assessment.png') no-repeat center top
  }
  &--pod-sNav a.repairStatus {
    background: url('../../images/btn3_track_repair_status.png') no-repeat center top
  }
  &--pod-sNav a.myRecovery {
    background: url('../../images/btn4_track_my_recovery_.png') no-repeat center top
  }
  &--pod-sNav a.trackSettlement {
    background: url('../../images/btn5_track_settlement.png') no-repeat center top
  }

  &--pod-sNav a.accidentDetails:hover,
  &--pod-sNav a.damageAssessment:hover,
  &--pod-sNav a.repairStatus:hover,
  &--pod-sNav a.myRecovery:hover,
  &--pod-sNav a.trackSettlement:hover {
    background-position: center -236px
  }

  &--pod-sNav a.accidentDetails.focus,
  &--pod-sNav a.damageAssessment.focus,
  &--pod-sNav a.repairStatus.focus,
  &--pod-sNav a.myRecovery.focus,
  &--pod-sNav a.trackSettlement.focus {
    background-position: center -120px
  }

  &--pod-sNav a.accidentDetails.active,
  &--pod-sNav a.damageAssessment.active,
  &--pod-sNav a.repairStatus.active,
  &--pod-sNav a.myRecovery.active,
  &--pod-sNav a.trackSettlement.active {
    background-position: center -353px;
    text-indent: -9999px;
  }



}
.pod-dark-blue {
  background-color: $blue;
}
.articleDrop {
  display: block;
  border-bottom: 1px solid #000;
  padding: 20px 0 20px 0;
}


.btn-success {
  margin-top: 20px;
}

@include sm {
}

@include sm-up {
  .l-claims--pod-sNav a {
    color: #fff;
    text-align: center;
    height: 120px;
    display: block;
    padding: 85px  0px  8px  0px;
  }
}
