a {
  color: $blue;
}
a:hover {
  text-decoration: none;
}
.page {
  background: #F8F8F8;
  padding-bottom: 60px;
}
ul.l-claims--pod-sNav .col-sm-3 {
  width: 25%;
  float: left;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
}





  .col-sm-4 {
      width: 33.3333333333%;
      float: left;
      overflow: hidden;
  }



//Overwrite columns to match UK layout
@include md-up {
  .col-lg-2 {
      width: 12%;
  }
  .col-lg-10 {
      width: 88%;
  }
}
