//Colors (global)
$yellow: #ffe864;
$lightYellow: #ffe866;
$darkYellow: #ffd900;
$blue: #286bd1;
$lightGrey: #F8F8F8;

//nav
$navbar-default-bg: rgb(255,255,255);
$navbar-default-border: rgb(255,255,255);

//hide particular element
.visually-hidden{
  display:none;
}
