//Colors (global)
$yellow: #ffe864;
$lightYellow: #ffe866;
$darkYellow: #ffd900;
$blue: #286bd1;
$lightGrey: #F8F8F8;

//nav
$navbar-default-bg: rgb(255, 255, 255);
$navbar-default-border: rgb(255, 255, 255);

//hide particular element
.visually-hidden {
  display: none;
}

//Additions to fit the alertify for the hackaton contest
.rating-box {
  div.left-box, div.right-box {
    display: inline-block;
    width: 48%;
  }
  div.left-box {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 10px;
    max-width: 100%;
  }
}
.section-hidden{
  display:none;
}
